{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Коментарі</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1>Список коментарів</h1>

<a href="/comments/create/" class="button">➕ Додати</a>

<form method="get" style="margin: 20px 0;">
    <input type="text" name="username" placeholder="User"
           value="{{ request.GET.username }}">

    <input type="text" name="email" placeholder="Email"
           value="{{ request.GET.email }}">

    <button type="submit">Фільтр</button>
</form>

<table>
<tr>
    <th>
        <a href="?sort=username&username={{ request.GET.username }}&email={{ request.GET.email }}">User ↑</a>
        <a href="?sort=-username&username={{ request.GET.username }}&email={{ request.GET.email }}">↓</a>
    </th>

    <th>
        <a href="?sort=email&username={{ request.GET.username }}&email={{ request.GET.email }}">Email ↑</a>
        <a href="?sort=-email&username={{ request.GET.username }}&email={{ request.GET.email }}">↓</a>
    </th>

    <th>Text</th>
    <th>File</th>

    <th>
        <a href="?sort=created_at&username={{ request.GET.username }}&email={{ request.GET.email }}">Date ↑</a>
        <a href="?sort=-created_at&username={{ request.GET.username }}&email={{ request.GET.email }}">↓</a>
    </th>

    <th></th>
</tr>

{% for c in page_obj %}
<tr id="comment-{{ c.id }}">
    <td>{{ c.username }}</td>
    <td>{{ c.email }}</td>

    <td>
        {{ c.text }}
        <div class="reply">
            {% include 'comments/replies.html' with replies=c.replies.all %}
        </div>
    </td>

    <td>
        {% if c.file %}
            <div><b>{{ c.filename }}</b></div>

            {% with c.file.url|lower as f %}
                {% if ".jpg" in f or ".png" in f or ".gif" in f %}
                    <a href="/file/{{ c.id }}/">
                        <img src="{{ c.file.url }}" width="150">
                    </a>
                {% elif ".txt" in f %}
                    <a href="/file/{{ c.id }}/">📄 TXT файл</a>
                {% else %}
                    <a href="/file/{{ c.id }}/">📎 Файл</a>
                {% endif %}
            {% endwith %}
        {% else %}
            -
        {% endif %}
    </td>

    <td>{{ c.created_at }}</td>

    <td>
        <a href="/comments/{{ c.id }}/reply/">Reply</a>
    </td>
</tr>
{% endfor %}

</table>

<div style="margin-top: 20px;">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}&username={{ request.GET.username }}&email={{ request.GET.email }}">
            ⬅ Назад
        </a>
    {% endif %}

    <span> Сторінка {{ page_obj.number }} </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}&username={{ request.GET.username }}&email={{ request.GET.email }}">
            Вперед ➡
        </a>
    {% endif %}
</div>

</body>
</html>
